.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides {
	overflow: hidden;
}

.flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden;
}


/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	width: 100%;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}

.no-js .slides>li:first-child {
	display: block;
}

.flexslider {
	margin: 0;
	background: #fff;
	position: relative;
	zoom: 1;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}

.flexslider .slides {
	zoom: 1;
	position: relative;
}

.carousel li {
	margin-right: 5px
}

.flex-direction-nav {
	width: 100%;
	height: 60px;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 0;
	cursor: pointer;
	text-align: center;
	opacity: 0;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flexslider:hover .flex-direction-nav {
	opacity: 1;
}

.flex-direction-nav .flex-next {
	width: 60px;
	height: 60px;
	float: right;
	margin-right: 0px;
	background: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-prev {
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 0px;
	background: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-next:after {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 40px;
	color: #fff;
	line-height: 60px;
}

.flex-direction-nav .flex-prev:after {
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 40px;
	color: #fff;
	line-height: 60px;
}

.flexslider .flex-next:hover {
	opacity: 0.8;
}

.flexslider .flex-prev:hover {
	opacity: 0.8;
}


/* Control Nav */

.flex-control-nav {
	min-width: 100px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -70px;
}

.flex-control-nav li {
	margin: 0 7px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 33px;
	height: 13px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
}

.flex-control-paging li a:hover {
	opacity: 0.9;
}

.flex-control-paging li a.flex-active {
	cursor: default;
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}