 
html {
	overflow-x:hidden;
	padding: 0 !important;
	background:#fff;
	margin:0px !important;
}
	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		max-height:500px !important;
		overflow: hidden !important;
	}

