
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ''
}
a {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: #ed1677;
	outline: 0;
	text-decoration: none;
	margin: 0;
	padding: 0
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: 700
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: inherit;
}
.container_6 {
	margin-left: auto;
	margin-right: auto;
	width: 780px
}
.container_6 .grid_6 {
	width: 760px
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0
}
html, body {

}
#wrapper {
	min-height: 100%;
	height: auto!important;
	margin: 0 auto
}
a:hover {
	text-decoration: underline
}
abbr, acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase
}
abbr[title], acronym[title], dfn[title] {
	border-bottom: 1px dotted #CCC;
	cursor: help
}
code, kbd, samp, pre, tt, var, .code {
	font: 12px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace
}
pre {
	border: 1px solid #ddd;
	clear: both;
	margin: 2.5em 2em;
	overflow: auto;
	padding: 10px;
	white-space: pre
}
h1 {
	font-size: 20px
}
h2 {
	font-size: 18px
}
h3 {
	font-size: 14px
}
h4 {
	font-size: 13px
}
h6 {
	font-size: 11px
}
h1, h2, h3, h4, h5, h6, p {
	margin: 1em 0
}
h1, h2, h3 {
	color: #000
}
h4, h5, h6 {
	color: #444;
	font-weight: 400
}
h6, p {
	
	color: #676767
}
ul, ol {
	padding-left: 2em
}
li ul, li ol, ul ul, ol ol, dl dd {
margin: 0;
padding:0;
	
}
small, sup, sub {
	font-size: 90%
}
.code {
	background-color: #eaeff4;
	color: #069;
	overflow: auto;
	padding: 2px 6px
}
#wrapper>header {
	top: 0;
	width: 100%;
	z-index: 999;
	zoom: 1;
	background-color: #fff;
	
	box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0,0,0,0.2)
}
#wrapper>header h1 {
	font-size: 24px;
	letter-spacing: .3em;
	line-height: 1.2em;
	color: #a7a7a7;
	font-family: Courier, monospace;
	font-weight: normal;
	text-transform: uppercase
}
#wrapper>section {
	padding-top: 20px
}
.main-section {
	background: rgba(255,255,255,0.3);
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px
}
.main-section .content {
	padding: 20px 20px 20px 0
}
.main-content {
	
	
	position: relative;
	z-index: 1
}

.main-content.event {
	
	
	margin:30px 0 0 0;
}

.main-content>section {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	/*padding: 20px 30px*/
}
.main-content>section.container_6 {
	padding: 20px
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, #wrapper>header nav>ul li:hover ul, #wrapper>section>div>aside nav>ul {
	display: block
}
.grid_6 {
	display: inline;
	float: left;
	position: relative
}

.scrollbars ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.scrollbars ul li {
	float: left;
	background: url(../images/arrow1.png) no-repeat 5px 6px #F8F8F8;
	padding: 0 0px;
	line-height: 1.6;
	width:100%;

	margin: 0px 0 10px 11px;
	
}


.scrollbars ul li a {
	float: left;
	color: #000;
	font-size: 13px;
	text-decoration: none;
}
.scrollbars ul li a:hover {
	color: #0491bf;
}

