#b791ff,#b791ff body {
  min-height: 100%;
  scrollbar-face-color: #000000;
scrollbar-shadow-color: #2D2C4D;
scrollbar-highlight-color:#7D7E94;
scrollbar-3dlight-color: #7D7E94;
scrollbar-darkshadow-color: #2D2C4D;
scrollbar-track-color: #7D7E94;
scrollbar-arrow-color: #C1C1D1;
}
body
{
	font-family: "open_sansregular";
	letter-spacing: 0.1px;
	font-size: 14px!important;
	
}

.dis_cls{
	text-transform: uppercase;
}

.addbuttom
{
	float: left;
	width: 100%;
	height: auto;
}
.btn-danger.bck
{
	margin-left: 10px;
}
td.totalreat
{
	text-align: right;
}
span#proceed_btn
{
	float: right;
}
.alert
{
	float:left;
	width:100%;
}
span.totalrupees
{
	float: right;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
td.amounttotl
{
	text-align: right;
}
td.totalamount
{
	text-align: right;
}
.inforeceipt label.Payment
{
	text-align: right!important;
	float: right!important;
}
.inforeceipt input
{
	margin-right: 10px; 
	text-align: left; 
	float: right;
	 margin-top: 5px;
}
i.fa-plus-circle
{
	margin-right: 8px;
}
tbody a i
{
	margin-right: 8px;
}

.form-horizontal .control-label.leftlabel
{
	text-align: left;
}

.form-horizontal .form-group.insidsepop
{
	margin-left: 0;
	margin-right: 0;
}

/* Pagination on report Start*/
#pagingControls ul{
    list-style: none
}
#pagingControls a li,
#pagingControls a:hover {
    color: #000;
    text-decoration: none
}

#pagingControls,
.add-inn,
.add-inn a,
.thanku,
.thanku b,
.wish,
.wish b {
    width: 100%;
    height: auto
}

#pagingControls {
    float: left;
    margin-bottom: 20px
}
#pagingControls ul {
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #b7b6b6;
    border-radius: 3px
}
#pagingControls li {
    float: left;
    border-right: 1px solid #b7b6b6;
    padding: 6px 12px;
    color: #E34843;
    background: #f2f2f2;
    text-decoration: none
}
#pagingControls a li {
    background: #fff
}

    #pagingControls li {
        float: left;
        border-right: 1px solid #b7b6b6;
        padding: 6px;
        color: #E34843;
        background: #f2f2f2;
        font-size: 11px;
        text-decoration: none
}
/* Pagination on report End*/

/*.pagination > li > a, .pagination > li > span
{
	 padding: 3px 8px;
	 color: #16262e;
}

.pagination > li.current a
 {
 	background: #16262E !important;
    border-right: 1px solid #b7b6b6;
    color: #F3A505;
 }
 */
 
td a.btn-primary{
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    color: #000;
}
td a.btn-info {
    background-color: #bcbcbc;
    border-color: #d5d5d5;
    color: #000;
}

td a.btn-primary:hover, td a.btn-info:hover{
    background-color: #16262E;
    border-color: #16262E;
    color: #fff;
}
button.close {
    background: #000 none repeat scroll 0 0 !important;
    border-radius: 50% !important;
    color: #fff !important;
    float: right !important;
    font-size: 14px !important;
    font-weight: 700;
    left: 27px !important;
    line-height: 1;
    opacity: 0.8 !important;
    padding: 9px 11px !important;
    position: relative !important;
    text-shadow: 0 1px 0 #fff;
    top: -27px;
    z-index: 999;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.inforeceipt h2
{
	font-size: 16px;
	color:#446CB3;
	background: #ededed;
	padding: 10px;
	margin-top: 35px;
	margin-bottom: 25px !important;
}
.inputik input
{
	font-size: 13px;
    margin-left: 5px!important;
    margin-right: 10px!important;
    margin-top: 9px!important;
    padding-right: 14px!important;
    padding-top: 2px;
	float:none !important;
}
.frompopup .modal-header h4

{
	color: #fff;
	font-family: "Montserrat-SemiBold";
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 0;
	
}
.frompopup button.close {
    background: #000 none repeat scroll 0 0 !important;
    border-radius: 50% !important;
    color: #fff !important;
    float: right !important;
    font-size: 14px !important;
    font-weight: 700;
    left: 27px !important;
    line-height: 1;
    opacity: 0.8 !important;
    padding: 9px 11px !important;
    position: relative !important;
    text-shadow: 0 1px 0 #fff;
    top: -11px;
    z-index: 999;
}
.frompopup .modal-header .close {
    margin-top: -19px;
}
.frompopup .modal-header
{
	background: #16262E;
	padding-bottom: 0px;
	
}
.form-group1 {
    margin-bottom: 15px;
    float:left;
    width: 100%; 
    
}
.inforeceipt
{
	padding-top: 30px;
	padding-bottom: 20px;
	height: auto;
	width: 100%;
	float: left;
	 border: 1px solid #ddd;
	 margin-bottom: 20px;
	 position: relative;
	 padding: 20px;
	 margin-top: 15px;
}
.inforeceipt1 .btn-primary.submit {
    background-color: #21252a;
    border-color: #21252a;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.inforeceipt .btn-primary.print {
    background-color: #21252a;
    border-color: #21252a;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
.inforeceipt .checkbox
{
    margin-bottom: -3px;
    margin-top: 3px;
}


.form-control.marginin
{
	margin-bottom:15px;
}

.inforeceipt1
{
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
	width: 100%;
	float: left;
	 border: 1px solid #ddd;
	 margin-bottom: 20px;
	margin:0 auto 40px;
	 text-align: center;
}
.table-responsive.myrespit
{
	border: none;
	overflow: hidden;
}
.submitview .btn-primary.submit {
    background-color: #b791ff;
    border-color: #b791ff;
    border-radius: 6px;
    color: #000;
    margin-top: 00px;
    float: right;
    padding: 8px 30px;
}
.sent_notice
{
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 10px;
}

.sent_notice input[type="radio"]
{
	margin-right:5px!important;
	margin-left:5px!important;
	margin-top: 5px!important;
}
.submitview .btn-primary.submit:hover
{
	color: #fff;
}
.inforeceipt label
{
	padding-bottom: 0px!important;
	float: left!important;
}
.inforeceipt label.label_cls{
	font-weight:normal !important;
}
.panel-body.recipt label
{
	padding-top: 8px;
	font-size: 13px;
	padding-bottom: 5px;
}
.inforeceipt th.hrding

{
	background: #16262E;	
	color: #fff;
	text-align: center;
	font-size: 13px;
}
td.total

{
	font-weight: bold;
	text-align: right;
}
td.totalamount

{
	background: #ddd;	
	color: #000;
	font-size: 16px;
	font-weight: bold;
	
}
.panel.reciptitem
{
	margin-bottom: 30px;
} 
.create-receipt
{
	float:left;
	width: 100%;
	height: auto;
}
.create-receipt input
{
	background: #21252A;
	color: #fff;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 16px;
}
.create-receipt input:hover
{
	background: #2a2e33;
}
.create-receipt .form-control
{
	height: auto;
}
.panel-body.recipt input
{
	padding-top: 8px;
	font-size: 13px;
}
.panel-body.recipt h1.costomer1
{
	background: #fff none repeat scroll 0 0;
    font-size: 16px;
    left: 50px;
    padding: 6px;
    position: absolute;
    top:-16px;
    color: #b791ff;
}
.panel-body.recipt h1.costomer3
{
	background: #fff none repeat scroll 0 0;
    font-size: 16px;
    left: 50px;
    padding: 6px;
    position: absolute;
    top:-30px;
    color: #b791ff;
}
.panel-body.recipt h1.costomer
{
	background: #fff none repeat scroll 0 0;
    font-size: 16px;
    left: 50px;
    padding: 6px;
    position: absolute;
    top:-16px;
    color: #b791ff;
}
.panel-body.recipt h1
{
 		background: #fff none repeat scroll 0 0;
    font-size: 16px;
    left: 50px;
    padding: 6px;
    position: absolute;
    top: -15px;
    color: #b791ff;
}
ol.breadcrumb
{
	margin-left: 0px;
}


.input-group-addon:last-child {
    border-left: 0 none;
    border-radius: 0;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('Montserrat-SemiBold-webfont.eot');
    src: url('Montserrat-SemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('Montserrat-SemiBold.woff') format('woff'), url('Montserrat-SemiBold-webfont.ttf') format('truetype'), url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
{
	border-radius: 0px;
}
#header.navbar,#main,.sidebar {
  -o-transition: transform .2s ease,-o-transform .2s ease;
}
.table-responsive {
    /*border: 1px solid #ddd;*/
    margin-bottom: 0;
    overflow-y: hidden;
    width: 100%;
    padding: 0px;
}
tr.billheding th
{
	text-align: center;
}
.page-header.page-header-with-icon {
    border-bottom: medium none;
    border-top: 2px solid #EAEDF2;
    margin: 30px 20px;
    padding-bottom: 0px;
    padding-top: 16px;
    padding-top: 16px;
    text-align: center;
}
	.page-header {
    position: relative;
}

.page-header.page-header-with-icon.recept{
	
	margin: 0px;
	border-top: none;
}
.page-header.page-header-with-icon.recept p{
	
	top: -6px;
	background-color: transparent;
	color: #16262E;
}
.page-header.page-header-with-icon > p, .page-header.page-header-with-icon > p {
    background-color: #FFF;
    color: #E4AB38;
    display: block;
    font-size: 14px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -50px;
    position: absolute;
    top: -25px;
	padding:0 8px;
    width: auto;
}

.set-style{
 font-size: 13px;
font-weight: bold;
padding-left: 60px; 
}

.list h3 {
						width: 100%;
						height: auto;
						float: left;
						padding: 10px;
						font-size: 15px !important;
						font-weight: bold;
						color: #000;
						margin: 0px;
						border-bottom: 1px solid #DDD;
						border-radius: 4px 4px 0px 0px !important;
						background: #ddd none repeat scroll 0% 0%;
						margin-bottom: 0px!important;
}
					.list {
						width: 100%;
						height: auto;
						float: left;
					}
					.new_service
					{
						margin-top:0px;
					}

.inforeceipt_inn
{
	margin-top: 20px;
	width: 100%;
	height: auto;
	float: left;
}

.btn.add_more
{
	float:left;
	background-color:#21252A;
	color:#fff;
	border:1px solid #21252A;
}
.btn.add_more:hover
{
	color:#F3A801;

	
}
.payment_descount label.payment_discount
{
	float: left;
	padding-top: 7px;
	color: #000;
}
	.panel.addnewservie_s
	{
		margin-bottom: 10px;
	}
.help-tip{
	position: absolute;
	top: 5px;
	right:-15px;
	text-align: center;
	background-color: #0E0F0F;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: pointer;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
	z-index:444;
}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #ECF0F1;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #000;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}
	
#b791ff {
  position: relative;
  z-index: 1;
  letter-spacing: .1px;
}

#b791ff body {
  font-family: 'open_sansregular';
  font-size: 14px;
  background-color: #ecf0f1;
  overflow-x: hidden;
}

#b791ff.frontend body {
  font-size: 14px;
}
.form-horizontal .control-label {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
    font-weight:normal;

}

h3.panel-title {
    font-size: 16px;
      margin-top: 4px;
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
    margin-bottom:0!important; 
}
table.paginate-table td.paginate-td.active{
  background: black;
}
table.paginate-table td.paginate-td:hover{
  cursor: pointer;
}

.date-pick img{
  position: absolute;
top: 2px;

height: 32px;
right: 18px;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
}

/*    margin: 10px 11px 0 0!important;*/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
{
	margin-bottom: 0px!important;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select
{
	margin-bottom: 0px!important;
}
.input-group[class*="col-"] {
    float: none;
    padding-left: 14px;
    padding-right: 16px;
}

.input-group {
    width: auto!important;
}
.setAling p{
  margin-left: 17% !important;
color: red !important;
font-size: 14px !important;
}
.setAling{
  margin-left: 17% !important;
color: red !important;
font-size: 14px !important;
}

.setLI{
  float: right !important;
  top: 4px;
  left: -7px;
}

.star{
  color:red;
}

/*
.not-active{
   pointer-events: none;
   cursor: default;
}
*/

.layout,.anime,.baking{
  display: none;
}

.PASS{
  color: green;
  margin-left: 44%;
}

.ERROR{
  color: red;
  margin-left: 44%;
}

span[class*="remove-colors-"]{
  cursor: pointer;
}

.loadIMG{
  position: absolute; right: 63%; top: 40%; opacity: 1.8;
}

.loading{
  display:none;
}

.formatError{
color: red;
/*margin-top: -8px;  */
}

.showArtist span.Allign{
  position: relative;
top: 7px;
font-weight: bold;
font-size: 15px;
}


.vfx-table
{
	float: left;
	height: auto;
	width:100%;
	margin-top: 30px;
	
}
.vfx-table td a
{
	text-align: center;
	font-size: 14px;
	padding-right:6px 
}
.vfx-table td
{
	font-size: 11px;
	text-align: center;
}
.vfx-table th.heding
{
	border-bottom: 1px solid #ddd; 
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	    font-weight: bold;
}

label.labeldas
{
	float:left;
	text-align: left!important;
}
.vfx-table th.hedingside
{
	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: bold;
}
.vfx-table td.hedingdwn
{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
}

/*----------------------------------------dashboard-------------------------------------*/
#dashboard
{
	margin: 0em auto 1em;
    font-weight: lighter;
}

#dashboard  a.item
{
    opacity: 0;
	float: left;
	width:148px;
	height: 85px;
	padding: 10px 5px 5px 8px;
	cursor: pointer;
	color: #303030;
	font-size: 110%;
    line-height: 1em;
	font-weight: normal;
	text-decoration: none;
	background-color: #98D7F6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    box-shadow:0 0 5px #888888; 
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
    outline: none; 
    margin:5px;
	font-family:tahoma,Arial,Verdana,Helvetica,sans-serif;
}

#dashboard a.item img
{
    opacity: 0.8;
}

#dashboard a.item:hover
{
	color: black;
    box-shadow:0 0 7px #888888; 
    -moz-box-shadow:0 0 7px #888888;
    -webkit-box-shadow:0 0 7px #888888;
}

#dashboard a.item:hover img
{
    opacity: 1;
}

#dashboard a.item span.hover
{
     background-color: #00BBFF;
}

#dashboard span.title
{
    text-align: left;
    height: 45px;
    display: block;
    font-size:16px;
}

#dashboard .title
{
    background:none;
    border-bottom:none;
}

#dashboard span.extraInfoDescription
{
    font-size: 100%;
    display: block;
	color: #666565;
    margin-bottom: 2px;
    display: block;
   
}

#dashboard a.item span.extraInfo
{
    display: block;
	font-size:20px;
	line-height: 1.5em;
	color: #7B7B7B;
    font-weight: normal;
}

#dashboard a.item.alt1
{
	background-color: #A1D8A1;    
}

#dashboard a.item.alt1 span.hover
{
	background-color: #91FF91;    
}

#dashboard a.item.alt14
{
	background-color: #ff9999;    
}

#dashboard a.item.alt14 span.hover
{
	background-color: #ff3333;    
}

#dashboard a.item.alt18
{
	background-color: #99ff99;    
}

#dashboard a.item.alt18 span.hover
{
	background-color: #33ff33;    
}

.container-fluid .page-header.page-header-block.foo{
    margin: -20px -20px 0;
}
.page-header.page-header-block.foo {
    background-color: #21252A;
    padding: 6px 24px 0;
}
.page-header .title.foop {
    color: #fff;
    font-size: 13px;
    line-height: 34px;
    margin: 0;
}
.page-header .toolbar.foopright a {
    margin-bottom: 0;
    text-align: right;
    color: #fff;
}

.error {
	color :red;
}
.success_{
  margin-left: 41%;
color: green;
}
.panel {
    background-color:transparent!important;
    border: medium none!important;
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.00);
    margin-bottom: 72px;
    width:100%;
    float: left;
}
.text-muted {
    color: #fff;
    margin: 0px;
}
a.foodesign
{
	color: #EEB073;
	float: right;
}
a.foodesign:hover
{
	color: #fff;
}
.app-loading,.sidebar-open-ltr,.sidebar-open-rtl {
  overflow: hidden;
}

.csstransforms3d.sidebar-open-ltr #header.navbar {
  -webkit-transform: translate3d(240px,0,0);
  transform: translate3d(240px,0,0);
}

.no-csstransforms3d.sidebar-open-ltr #header.navbar {
  left: 240px;
  right: auto;
}

.csstransforms3d.sidebar-open-rtl #header.navbar {
  -webkit-transform: translate3d(-240px,0,0);
  transform: translate3d(-240px,0,0);
}

.no-csstransforms3d.sidebar-open-rtl #header.navbar {
  right: 240px;
  left: auto;
}

#header.navbar {
  position: relative;
  /*z-index: 1030;*/
  width: 100%;
  border-width: 0;
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-o-transform .2s ease;
}

#header.navbar>.container,#header.navbar>.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#header.navbar .navbar-header {
  background-color: #838383;
  height: 50px;
  float: none;
}

#header.navbar .navbar-header>.navbar-brand {
  display: block;
  width: 100%;
  padding:0px 7px;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
.sidebar .content .heading {
    color: #4e5763;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 25px 25px 15px;
    text-transform: uppercase;
}
#header.navbar .navbar-header>.navbar-brand.text-left {
  text-align: left;
}

#header.navbar .navbar-header>.navbar-brand.text-right {
  text-align: right;
}

#header.navbar .navbar-toolbar {
  background-color: rgba(255,255,255,.97);
}

#header.navbar .navbar-toolbar .navbar-collapse {
  max-height: 220px;
  width: 100%;
  padding: 0;
  border-color: #ecf0f1;
}

#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav {
  float: none;
  padding: 0;
}

#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav>li {
  float: none;
}

#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav>li>a {
  height: 40px;
  line-height: 40px;
}

#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav.navbar-left,#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav.navbar-right {
  padding: 0;
  float: none;
}

#header.navbar .navbar-toolbar .navbar-collapse>.navbar-nav>.dropdown>.dropdown-menu {
  position: static;
  margin: 0;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#header.navbar .navbar-toolbar .navbar-nav {
  margin: 0;
  float: left;
  padding-left: 5px;
}

#header.navbar .navbar-toolbar .navbar-nav>li {
  float: left;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a {
  padding: 0 8px 0 8px;
  height: 50px;
  line-height: 50px;
  color: #16262E;
  text-shadow: none;
  font-family: "Montserrat-SemiBold";
}
#header.navbar .navbar-toolbar .navbar-nav>li>a.welcome {
  padding: 0 8px 0 8px;
  height: 50px;
  line-height: 50px;
  color: #a6a6a6;
  text-shadow: none;
  font-family: "Montserrat-SemiBold";
}


#header.navbar .navbar-toolbar .navbar-nav>li>a:focus,#header.navbar .navbar-toolbar .navbar-nav>li>a:hover {
  background-color: transparent;
  color: #b791ff;
}

#header.navbar .navbar-toolbar .navbar-nav>li.active>a,#header.navbar .navbar-toolbar .navbar-nav>li.active>a:active,#header.navbar .navbar-toolbar .navbar-nav>li.active>a:focus,#header.navbar .navbar-toolbar .navbar-nav>li.active>a:hover,#header.navbar .navbar-toolbar .navbar-nav>li.open>a,#header.navbar .navbar-toolbar .navbar-nav>li.open>a:active,#header.navbar .navbar-toolbar .navbar-nav>li.open>a:focus,#header.navbar .navbar-toolbar .navbar-nav>li.open>a:hover,#header.navbar .navbar-toolbar .navbar-nav>li>a.active,#header.navbar .navbar-toolbar .navbar-nav>li>a:active {
  background-color: #f6f6f6;
  color: #b791ff;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta {
  display: table;
  width: 100%;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.avatar {
  display: table-cell;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.avatar>img {
  display: block;
  width: 100%;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.text {
  font-size: 13px;
  font-weight: 600;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  min-width: 16px;
  text-align: center;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.badge,#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.label {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: 5px;
  min-width: 18px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.96);
  box-shadow: 0 0 0 1px rgba(255,255,255,.96);
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.badge.pull-right,#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.label.pull-right {
  left: auto;
  right: 5px;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.hasnotification {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.96);
  box-shadow: 0 0 0 1px rgba(255,255,255,.96);
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.hasnotification.pull-right {
  left: auto;
  right: 12px;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a>.meta>.caret {
  margin-top: -1px;
  margin-left: 5px;
}

#header.navbar .navbar-toolbar .navbar-nav>li>a.sidebar-minimize>.meta>.icon:after {
  display: inline-block;
  vertical-align: top;
 font-family:"FontAwesome";
  content: "\f03b";
  transition: all 0.9s ease-in-out 0s;
}

.sidebar-minimized #header.navbar .navbar-toolbar .navbar-nav>li>a.sidebar-minimize>.meta>.icon:after {
  content: "\f03c";
  transition: all 0.9s ease-in-out 0s;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a {
  color: #eee;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:hover {
  color: #fff;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:active,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:focus {
  color: #fff;
  background-color: #4065a8;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.badge,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.hasnotification,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.label {
  -webkit-box-shadow: 0 0 0 1px #446CB3;
  box-shadow: 0 0 0 1px #446CB3;
}

#header.navbar .navbar-toolbar .navbar-nav>.navbar-toggle {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border-width: 0;
}

#header.navbar .navbar-toolbar .navbar-nav>.dropdown>.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e0e7e8;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

#header.navbar .navbar-toolbar .navbar-nav>.dropdown.custom {
  position: static;
}

#header.navbar .navbar-toolbar .navbar-nav>.dropdown.custom>.dropdown-menu {
  top: auto;
  left: 5px;
  right: 5px;
  padding: 0;
}

#header.navbar .navbar-toolbar .navbar-nav.navbar-right {
  float: right;
  padding-right: 5px;
  padding-left: 0;
}

#header.navbar .navbar-toolbar .navbar-nav.navbar-right>.navbar-main,#header.navbar .navbar-toolbar .navbar-nav.navbar-right>li>.dropdown-menu {
  left: auto;
  right: 0;
}

#header.navbar .navbar-toolbar>.navbar-form {
  position: absolute;
  z-index: 991;
  top: -100%;
  left: 0;
  right: 0;
  background-color: #446CB3;
  border-width: 0;
  margin: 0;
  padding: 0 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
}

#main,.sidebar {
  -webkit-transition: -webkit-transform .2s ease;
}

#header.navbar .navbar-toolbar>.navbar-form.open {
  top: 0;
}

#header.navbar .navbar-toolbar>.navbar-form .form-group {
  display: block;
  margin: 0;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control {
  display: block;
  width: 100%;
  color: #f2f2f2;
  border-width: 0;
  background-color: #3d61a1;
  margin: 8px 0;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control.input-lg {
  margin: 2px 0;
}

#header.navbar .navbar-toolbar>.navbar-form .has-icon .form-control-icon {
  color: #f2f2f2;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control::-webkit-input-placeholder {
  color: #f2f2f2;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control::-moz-placeholder {
  color: #f2f2f2;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control:-ms-input-placeholder {
  color: #f2f2f2;
}

#header.navbar .navbar-toolbar>.navbar-form .form-control::placeholder {
  color: #f2f2f2;
}

@media (min-width:768px) {
  .csstransforms3d.sidebar-open-ltr #header.navbar {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .no-csstransforms3d.sidebar-open-ltr #header.navbar {
    left: 0;
    right: auto;
  }

  .csstransforms3d.sidebar-open-rtl #header.navbar {
    -webkit-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
  }

  .no-csstransforms3d.sidebar-open-rtl #header.navbar {
    right: 240px;
    left: auto;
  }

  #header.navbar {
    height: 60px;
  }

  .frontend #header.navbar {
    background-color: rgba(255,255,255,.95);
    height: 90px;
  }

  #header.navbar .container .navbar-toolbar,#header.navbar .container-fluid .navbar-toolbar {
    margin-right: 0;
    margin-left: 0;
  }

  #header.navbar .container .navbar-header>.navbar-brand,#header.navbar .container-fluid .navbar-header>.navbar-brand {
    margin-left: 0;
    text-align: left;
  }

  #header.navbar .container .navbar-header.navbar-header-transparent,#header.navbar .container-fluid .navbar-header.navbar-header-transparent {
    background-color: transparent;
  }

  #header.navbar .container .navbar-header.navbar-header-transparent>.navbar-brand>.logo-figure,#header.navbar .container-fluid .navbar-header.navbar-header-transparent>.navbar-brand>.logo-figure {
    background-image: url(../../image/logo/logo-figure-inverse.png);
  }

  #header.navbar .container .navbar-header.navbar-header-transparent>.navbar-brand>.logo-text,#header.navbar .container-fluid .navbar-header.navbar-header-transparent>.navbar-brand>.logo-text {
    background-image: url(../../image/logo/logo-text-inverse.png);
  }

  #header.navbar .navbar-header {
    background-color: #fff;
    height: 60px;
    float: left;
    border-right: 1px solid #000;
  }

  .frontend #header.navbar .navbar-header {
    height: 90px;
  }

  #header.navbar .navbar-header>.navbar-brand {
    width: 240px;
    line-height: 59px;
    height: 60px;
  }

  .frontend #header.navbar .navbar-header>.navbar-brand {
    height: 90px;
    line-height: 89px;
  }

  #header.navbar .navbar-header>.navbar-brand>.logo-figure,#header.navbar .navbar-header>.navbar-brand>.logo-text {
    display: inline-block;
    margin-top: 5px;
  }

  .frontend #header.navbar .navbar-header>.navbar-brand>.logo-figure,.frontend #header.navbar .navbar-header>.navbar-brand>.logo-text {
    height: 90px;
    margin-top: 20px;
  }

  #header.navbar .navbar-toolbar {
    position: relative;
    height: 60px;
    margin-left: 240px!important;
  }

  .frontend #header.navbar .navbar-toolbar {
    height: 90px;
    background-color: transparent;
  }

  #header.navbar .navbar-toolbar>.navbar-collapse {
    width: auto;
  }

  #header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav,#header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav>li {
    display: inline-block;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-toggle,.screen-sm #header.navbar .navbar-header>.navbar-brand>.logo-text,.sidebar-minimized #header.navbar .navbar-header>.navbar-brand>.logo-text {
    display: none;
  }

  #header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav>li {
    float: left;
  }

  #header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav>li>a {
    height: 60px;
    line-height: 60px;
  }

  .frontend #header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
  }

  #header.navbar .navbar-toolbar>.navbar-collapse>.navbar-nav>.dropdown>.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e0e7e8;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  }

 #header.navbar .navbar-toolbar .navbar-nav > li > a {
    color: #16262e;
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    line-height: 60px;
    text-transform: uppercase;
}
 #header.navbar .navbar-toolbar .navbar-nav > li > a.welcome {
    color: #A6A6A6;
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    line-height: 60px;
    text-transform: uppercase;
     cursor: default;
}
  .frontend #header.navbar .navbar-toolbar .navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
  }

  #header.navbar .navbar-toolbar .navbar-nav>li.active>a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: 2px solid #446CB3;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-main {
    position: static;
    z-index: 1;
    top: auto;
    left: auto;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a {
    color: #9d9d9d;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:hover {
    color: #b791ff;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:active,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a:focus {
    background-color: #f6f6f6;
    color: #b791ff;
  }

  #header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.badge,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.hasnotification,#header.navbar .navbar-toolbar .navbar-nav>.navbar-main>a>.meta>.label {
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.96);
    box-shadow: 0 0 0 1px rgba(255,255,255,.96);
  }

  #header.navbar .navbar-toolbar .navbar-nav>.dropdown.custom>.dropdown-menu {
    width: 300px;
  }

  #header.navbar .navbar-toolbar .navbar-nav.navbar-right>.dropdown.custom>.dropdown-menu {
    left: auto;
  }

  #header.navbar .navbar-toolbar>.navbar-form {
    background-color: #fff;
    padding: 0 5px;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control {
    color: #777;
    background-color: transparent;
    margin: 13px 0;
  }

  .frontend #header.navbar .navbar-toolbar>.navbar-form .form-control {
    margin: 28px 0;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control.input-lg {
    margin: 7px 0;
  }

  .frontend #header.navbar .navbar-toolbar>.navbar-form .form-control.input-lg {
    margin: 22px 0;
  }

  #header.navbar .navbar-toolbar>.navbar-form .has-icon .form-control-icon {
    color: #9d9d9d;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control::-webkit-input-placeholder {
    color: #aaa;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control::-moz-placeholder {
    color: #aaa;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control:-ms-input-placeholder {
    color: #aaa;
  }

  #header.navbar .navbar-toolbar>.navbar-form .form-control::placeholder {
    color: #aaa;
  }

  .screen-sm #header.navbar .navbar-header>.navbar-brand,.sidebar-minimized #header.navbar .navbar-header>.navbar-brand {
    width: 60px;
  }

  .screen-sm #header.navbar .navbar-toolbar,.sidebar-minimized #header.navbar .navbar-toolbar {
    margin-left: 60px!important;
  }
}

.csstransforms3d.sidebar-open-ltr .sidebar-left {
  -webkit-transform: translate3d(240px,0,0);
  transform: translate3d(240px,0,0);
}

.no-csstransforms3d.sidebar-open-ltr .sidebar-left {
  right: auto;
  left: 0;
}

.csstransforms3d.sidebar-open-rtl .sidebar-right {
  -webkit-transform: translate3d(-240px,0,0);
  transform: translate3d(-240px,0,0);
}

.no-csstransforms3d.sidebar-open-rtl .sidebar-right {
  left: auto;
  right: 0;
}

.sidebar {
  position: fixed;
  /*z-index: 1031;*/
  top: 0;
  bottom: 0;
  width: 240px;
  color: #647080;
  background-color: #21252a;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-o-transform .2s ease;
}

.sidebar:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  z-index: -1;
  background-color: inherit;
}

.sidebar.sidebar-left {
  left: -240px;
}

.sidebar.sidebar-right {
  right: -240px;
}

.sidebar.sidebar-right.scrollbar {
  left: 0!important;
}

.sidebar .footer:after,.sidebar.header:after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
}

.sidebar .footer,.sidebar.header {
  position: absolute;
  background-color: #21252a;
  width: 100%;
  padding: 8px 15px;
  min-height: 50px;
}

.sidebar .header {
  top: 0;
  z-index: 10;
}

.sidebar .header:after {
  bottom: 0;
  border-bottom: 1px solid #1e2126;
}

.sidebar .header~.content,.sidebar .header~.viewport {
  top: 50px;
}

.sidebar .footer {
  position: absolute;
  bottom: 0;
  z-index: 11;
}

.sidebar .footer:after {
  top: 0;
  border-top: 1px solid #1e2126;
}

.sidebar .footer~.content,.sidebar .footer~.viewport {
  bottom: 50px;
}

.sidebar .viewport {
  position: absolute!important;
  top: 0;
  bottom: 0;
  width: 100%!important;
}

.sidebar .content {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: hidden!important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.sidebar .content>.wrapper {
  padding-left: 25px;
  padding-right: 25px;
}

.sidebar .content hr {
  border-color: #252a30;
}

@media (min-width:768px) {
  .csstransforms3d.sidebar-open-ltr .sidebar-left.sidebar-menu:before,.csstransforms3d.sidebar-open-rtl .sidebar-left.sidebar-menu:before,.sidebar.sidebar-menu .footer,.sidebar.sidebar-menu .header {
    display: none;
  }

  .csstransforms3d.sidebar-open-ltr .sidebar-left.sidebar-menu {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .no-csstransforms3d.sidebar-open-ltr .sidebar-left.sidebar-menu {
    left: 0;
  }

  .csstransforms3d.sidebar-open-rtl .sidebar-left.sidebar-menu {
    -webkit-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
  }

  .no-csstransforms3d.sidebar-open-rtl .sidebar-left.sidebar-menu {
    left: -240px;
  }

  .sidebar {
    /*z-index: 200;*/
  }

  .sidebar.sidebar-left.sidebar-menu {
    left: auto;
    float: left;
  }

  .sidebar.sidebar-left.sidebar-menu~footer#footer {
    left: 240px;
  }

  .screen-sm .sidebar.sidebar-left.sidebar-menu~footer#footer,.sidebar-minimized .sidebar.sidebar-left.sidebar-menu~footer#footer {
    left: 60px;
  }

  .sidebar .footer,.sidebar .header {
    padding: 13px 15px;
    min-height: 60px;
  }

  .sidebar .header~.content,.sidebar .header~.viewport {
    top: 60px;
  }

  .sidebar .footer~.content,.sidebar .footer~.viewport {
    bottom: 60px;
  }

  .sidebar.sidebar-menu {
    position: relative;
  }

  .sidebar.sidebar-menu:before {
    position: fixed;
  }

  .sidebar.sidebar-menu .footer~.content,.sidebar.sidebar-menu .footer~.viewport,.sidebar.sidebar-menu .header~.content,.sidebar.sidebar-menu .header~.viewport {
    top: 0;
  }

  .sidebar.sidebar-menu .viewport {
    position: relative!important;
  }

  .sidebar.sidebar-menu .content {
    position: relative;
    overflow-y: hidden!important;
    height:700px;
  }

  .screen-sm .sidebar.sidebar-menu .content,.screen-sm .sidebar.sidebar-menu .viewport,.sidebar-minimized .sidebar.sidebar-menu .content,.sidebar-minimized .sidebar.sidebar-menu .viewport {
    overflow: visible!important;
  }

  .screen-sm .sidebar.sidebar-menu,.sidebar-minimized .sidebar.sidebar-menu {
    width: 60px;
  }

  .screen-sm .sidebar.sidebar-menu .viewport>.scrollbar,.sidebar-minimized .sidebar.sidebar-menu .viewport>.scrollbar {
    display: none!important;
  }

  .screen-sm .sidebar.sidebar-menu .content .wrapper,.sidebar-minimized .sidebar.sidebar-menu .content .wrapper {
    visibility: hidden;
    overflow: hidden;
  }

  .screen-sm .sidebar.sidebar-menu .content .heading,.sidebar-minimized .sidebar.sidebar-menu .content .heading {
    display: none;
  }
}

.csstransforms3d.sidebar-open-ltr #main {
  -webkit-transform: translate3d(240px,0,0);
  transform: translate3d(240px,0,0);
}

.no-csstransforms3d.sidebar-open-ltr #main {
  left: 240px;
  right: auto;
}

.csstransforms3d.sidebar-open-rtl #main {
  -webkit-transform: translate3d(-240px,0,0);
  transform: translate3d(-240px,0,0);
}

.no-csstransforms3d.sidebar-open-rtl #main {
  right: 240px;
  left: auto;
}

#main {
  position: relative;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-o-transform .2s ease;
}

#main:after,#main:before {
  content: " ";
  display: table;
}

#main:after {
  clear: both;
}

#main>.container,#main>.container-fluid {
  float: left;
  width: 100%;
  padding: 20px 20px 0;
}

footer#footer~#main {
  padding-bottom: 48px;
}

@media (min-width:768px) {
  .csstransforms3d.sidebar-open-ltr #main {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .no-csstransforms3d.sidebar-open-ltr #main {
    left: 0;
    right: auto;
  }

  .csstransforms3d.sidebar-open-rtl #main {
    -webkit-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
  }

  .no-csstransforms3d.sidebar-open-rtl #main {
    right: 240px;
    left: auto;
  }

  .sidebar-left.sidebar-menu~#main {
    margin-left: 240px;
  }

  .screen-sm .sidebar-left.sidebar-menu~#main,.sidebar-minimized .sidebar-left.sidebar-menu~#main {
    margin-left: 60px;
  }
}

.csstransforms3d.sidebar-open-ltr footer#footer {
  -webkit-transform: translate3d(240px,0,0);
  transform: translate3d(240px,0,0);
}

.no-csstransforms3d.sidebar-open-ltr footer#footer {
  left: 240px;
  right: auto;
}

.csstransforms3d.sidebar-open-rtl footer#footer {
  -webkit-transform: translate3d(-240px,0,0);
  transform: translate3d(-240px,0,0);
}

.no-csstransforms3d.sidebar-open-rtl footer#footer {
  right: 240px;
  left: auto;
}

footer#footer {
  position: fixed;
  z-index: -99;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 48px;
  line-height: 48px;
  background-color: rgba(33,37,42,1.0);
  -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,.05);
  box-shadow: 0 -1px 0 0 rgba(0,0,0,.05);
  -webkit-transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease,-o-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-o-transform .2s ease;
}

section.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.form-control
{
	border-radius: 0px;
}
section.section .section-title {
  text-transform: uppercase;
}

section.section .section-header {
  padding-bottom: 50px;
}

section.section .section-header>.section-title {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

section.section .section-header>.section-title:after {
  position: relative;
  display: block;
  content: '';
  height: 3px;
  width: 50%;
  margin: 10px auto 0;
  background-color: #ecf0f1;
}

section.section .section-header.no-border>.section-title:after {
  display: none;
}
.btn-primary.submit {
    background-color: #21252a;
    border-color: #21252a;
    color: #fff;
    border-radius:6px;
}

.btn-primary.submit:hover
{
	color:#F3A801;
}

.panel-default > .panel-heading.genrl {
    background-color: #16262E;
    border-color: #16262E;
    color: #fff; 
    margin-bottom: 0px;
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    float: left;
    width: 100%;
  
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 4px 0 0;
}
input.printin
{
	margin:0 5px!important;
}
input.statusin
{
	margin-top: 12px!important;
	margin-left: 6px!important;
	margin-right:6px!important;
	vertical-align: inherit;

}
tr.inactive_row
{
	background: #E2574E!important;
	
}
.inactive_row td, .inactive_row td i
{
	color: #fff!important;
}
.non-product
{
	margin-top: 25px;
}
.panel-default > .panel-heading.genrl span a{
    color: #b791ff;
    font-size: 16px;
}
.panel-default > .panel-heading.genrl span a:hover{
    color: #fff;
 
}
.breadcrumb > .active {
    color: #16262e;
}
.breadcrumb > li + li::before {
    color: #16262e;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    list-style: outside none none;
    margin-bottom: 15px;
    padding: 8px 15px;
    float: left;
    width: 100%;
}
/*.breadcrumb > li, .pagination {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;    
}
*/
.breadcrumb li a {
    color: #b791ff;
}
.panel-body {
    background: #fff none repeat scroll 0 0;
    padding: 28px 15px 15px 15px;
    margin-top: 0px;
    float: left;
    width:100%;
    border: 1px solid #ddd;
}
textarea.form-control {
    border-radius: 0;
    height: auto;
}
.myrespit .form-control
{
	padding: 6px 6px;
	font-size: 11px;
} 
/*-----------------------FORM------------------------------*/
.pull-right {
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
}
label.last-name
{
	float: right;
	padding-top: 7px;
}
.btn-danger {
    background-color: #647080;
    border-color: #647080;
    color: #fff;
    margin-left: 0px;
    border-radius: 6px;
}
.btn-danger.active,.btn-danger:active,.btn-danger:hover,.open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #3c4858;
  border-color: #3c4858;
  border-radius:6px;
}
.btn-danger.ad
{
	margin-left: 0px;
}

@media (min-width:767px) and (max-width:990px)
{
	.footer-top
	{
		 margin: 0 0 0 60px;
	}
	.text-muted
	{
		float: left;
	}
.myrespit .form-control {
    font-size: 9px;
    padding: 1px;
}

}
@media (min-width:320px) and (max-width:767px)
{
	.footer-top
	{
		margin:0px;
	}
	.text-muted
	{
		float: left;
	}
	label.last-name
{
	float: left;
	
}
.page-header.page-header-with-icon > p, .page-header.page-header-with-icon > p {
    background-color: #fff;
    color: #e4ab38;
    display: block;
    font-size: 12px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -66px;
    padding: 0 8px;
    position: absolute;
    top: -25px;
    width: auto;
}
.page-header.page-header-with-icon
{
 margin: 20px;
}

label {
  
    margin-bottom: 11px!important;
}

.form-group1
{
	margin-bottom: 0px;
}
h3.panel-title
{
	font-size: 14px;
}
.inforeceipt td.totalamount {
   
    font-size: 13px;
  
}
.text-muted
{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 14px;
	font-size: 13px;
}
footer#footer
{
	line-height: 0;
}
a.foodesign
{
		width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 13px;
}
.panel
{
	margin-bottom: 115px;
}
.breadcrumb
{
	float: none;
}
.panel-body
{
	padding: 15px;
}
.form-horizontal .control-label
{
	text-align: left;
}
}


@media (min-width:320px) and (max-width:550px)
{


/*.pagination > li > a, .pagination > li > span
{
	 padding: 3px 8px;
	 color: #16262e;
}
*/
.panel-default > .panel-heading.genrl
{
	font-size: 10px;
}
.panel-default > .panel-heading.genrl span a {
    color: #b791ff;
    font-size: 10px;
}
}
@media (min-width:320px) and (max-width:400px)
{
	.text-muted {
    
    padding-bottom: 0;
    padding-top: 15px;
    
    
}
a.foodesign {
    padding-bottom: 10px;
    padding-top: 6px;
   }
}

@media (min-width:320px) and (max-width:500px)
{
	.footer-inn.fom span
	{
		width: 100%;
	}
	.footer-inn.fom p
	{
		float: none;
	}
	
/*.pagination
{
	float: none!important;
}
	*/
.panel-body.recipt h1.costomer3 {
   
    top: -16px;
    width: 59%;
    font-size: 11px;
}

.small-6 {
    margin: 0 auto;
    text-align: center;
    width: 100%!important;
}

div.dataTables_wrapper div.dataTables_length label
{
	float: none!important;
	text-align: center!important;
}
div.dataTables_wrapper div.dataTables_filter label
{
	
	float: none!important;
}
div.dataTables_wrapper div.dataTables_info {
  
    margin-bottom: 13px;
    padding-top: 10px;
   
}
}

@media (min-width:320px) and (max-width:506px)
{
	.panel-body.recipt h1.costomer1
	{
 font-size: 12px;
    line-height: 16px;

    width: 50%;
   }
}
@media (min-width:320px) and (max-width:400px)
{
.text-right {
    float: left;
    text-align: left;
}
footer#footer {
    line-height: 23px;
}
.btn
{
	padding: 6px;
}
}

@media (min-width:767px) and (max-width:992px)
{
	.hidden-sm {
    display: block!important;
}
.hidden-md {
    display: none!important;
}
.form-horizontal .control-label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 0;
    /*text-align: right;*/
}
input.statusin {
    margin-left: 3px !important;
    margin-right: 1px !important;
    margin-top: 12px !important;
    vertical-align: inherit;
}
.inforeceipt input
{
	float: left!important;
}
.inforeceipt label
{
	float: left!important;
}
.opreter .form-control
{
	font-size: 9px;
	padding: 6px 5px;
}
}
@media (min-width:1074px) and (max-width:1200px)
{
.panel-body.recipt label
{
	font-size: 12px;
}
}
/*@media (min-width:990px) and (max-width:1450px)
{
.panel-body.recipt h1.costomer1
{
	
    top:60.9%;
  
}
.panel-body.recipt h1.costomer
{
	top: 34.1%
}
}*/
@media (min-width:767px) and (max-width:990px)
{
.panel-body.recipt label
{
	font-size: 14px;
	padding-bottom: 10px;
}
.col-sm-3.col-sm-cng
{
	width: 90%;
}
footer#footer
{
	line-height: 18px;
}
.text-muted
{
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 13px;
}
a.foodesign
{
	padding-top: 15px;
	padding-bottom: 10px;
	 font-size: 13px;
}
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


