body {
background: #f5f5f5;
}
.loginLogo {
    display: block;
   
   
    text-align: center;
   margin-bottom:50px;
    width: 100%;
}

.footer-login {
    background-image: linear-gradient(#2C3B48, #1E2D3A);
    border-top: 1px solid #1e2d3a;
    bottom: 0;
    height: auto;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    color: #fff;
}

.error {
    color: #c00 !important;
}

.alert{
	padding:7px !important;
	margin-bottom:10px !important;
}

/*----------------------------------------login-------------------------------------*/
.full-login
{
	width: 100%;
	float: left;
	height: auto;
	margin-top: 50px;
	margin-bottom: 145px;
	overflow:hidden;
}
.breadcrumb a:hover{
	
	color: #b791ff;
}
.sighup, .sighin
{
	width: 100%;
	float: left;
	height: auto;	

background: #fff;
	
}


.sighin
{
	border: 1px solid #ddd;
	padding: 15px;
}


.side-inn {
    float: left;
    height: auto;
    width: 100%;
}

.sighup h1, .sighin h1
{
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 0px;
	color:#34495E;
	border-bottom: 3px solid #ddd;
	padding-bottom: 12px;
	font-family:"avantgarde_md_btmedium"; 
	text-align: center;
}

.sighup .form-control, .sighin .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.sighup h1
{
	margin-top: 17px;
}
.sighup .btn, .sighin .btn {
    -moz-user-select: none;
    background:#1E2D3A;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding:6px 21px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color:#b791ff;
    margin: 0 auto;
     transition: all 0.8s ease-in-out 0s;
}
.sighup .btn:hover, .sighin .btn:hover
{
	background: #b791ff;
	color: #1E2D3A;
	 transition: all 0.8s ease-in-out 0s;
}
.reg-form.right-margin {
    padding: 0 30px 0 0;
}
.reg-form {
    border-right: 1px solid #DDDDDD;
    float: left;
    margin-top: 0px;
    padding: 0 15px 0 0;
    width:100%;
   }
.or {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 18px;
    color: #686868;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    right: -3px;
    top: 45%;
}
.input-icon {
    position: relative;
}
.full-login .form-control:focus {
       border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.login-box .input-icon i {
    border-right: 1px solid #ccc;
    color: #b791ff;
    opacity: 0.6;
   
     padding-left: 4px;
    padding-right: 9px;
}
.input-icon i {
    font-size: 18px;
    left: 6px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
.input-icon input {
    padding-left: 45px!important;
}
.sighin a
{
	float:right;
	text-decoration: none;
	padding-top:8px;
	color: #b791ff;
}

.sighin a:hover
{
	color: #1E2D3A;
}






@media (min-width:320px) and (max-width:500px) {
.full-login {
    
    margin-bottom: 76px;
    margin-top: 98px;
   
}

}
