@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	font-family: 'open_sansregular';
	font-size: 12px;
}

.timepicker-default{
	font-size:11px !important;
}

.level1{
	float:left;
	list-style-type: none;
	padding-right:40px;
	background-repeat: no-repeat;
	background-position: center 30px;
}

.input-icon {
			position: relative;
}

.input-icon > i {
	position: absolute;
	display: block;
	transform: translate(0, -50%);
	top: 50%;
	pointer-events: none;
	width: 25px;
	text-align: center;
	font-style: normal;
}

.input-icon > input {
	padding-left: 25px;
	padding-right: 0;
}

.input-icon-right > i {
	right: 0;
}

.input-icon-right > input {
	padding-left: 0;
	padding-right: 25px;
	text-align: right;
}
.head_aria{
	width:100%;
	float:left;
	height:auto;
	background-color:#ddd;
	padding:6px 10px;
}

.head_aria h2{
	margin:0;
	font-size:18px;
}

			.not-active
			{
				pointer-events: none;
				cursor: default;
			}

.stepwizard-step p {
    margin-top: 10px;
	}
	.stepwizard-row {
		display: table-row;
	}
	.stepwizard {
		display: table;
		width: 50%;
		position: relative;
		margin-bottom: 15px;
	}
	.stepwizard-step button[disabled] {
		opacity: 1 !important;
		filter: alpha(opacity=100) !important;
	}
	.stepwizard-row:before {
		top: 25px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background-color: #ccc;
		z-order: 0;
	}
	.stepwizard-step {
		display: table-cell;
		text-align: center;
		position: relative;
	}
	
	.btn-circle {
		/*height: 30%;*/
		text-align: center;
		padding: 15px 31px;
		font-size: 14px;
		line-height: 1.428571429;
		border-radius: 5px;
		margin-right:15px;
	}
	
	.btn-circle.lastin
	{ 
		margin-right:0!important;
	}
	
	.stepwizard-step .btn.disabled, .btn[disabled], fieldset[disabled] .btn
	{
		opacity: 0.9;
	}

.vfx-table
{
	float: left;
	height: auto;
	width:100%;
	margin-top: 00px;
}
.vfx-table th.heding
{
	border: 2px solid #ddd !important; 
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}
.vfx-table th.hedingside
{
	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}
.vfx-table td.hedingdwn
{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

textarea,input,select{
	/*text-transform:uppercase;*/
}

.dis_cls{
	background-color:#ddd;
}

.de_active
{
	background-color:red;
}

.de_active:hover
{
	background-color:red !important;
}

.de_active td
{
	color:#fff !important;
}

table td{
	text-transform:uppercase;
}

.highlightRow
{
	background-color: #ffaabb !important;
}

.float-none,.has-icon {
  float: none!important;
}


.logo-figure,.logo-text {
  background-repeat: no-repeat;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.logo-figure+.logo-text,.logo-text+.logo-figure {
  margin-left: -13px;
}

.projectName {
	margin-top: 6px;
}

.inner-star {
	color: #c00;
	   

}
.inner-star.inner_satr1{
	color: #c00;
	   float: left;
    padding-top: 15px;

}

.logo-figure,.logo-text {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  height: 50px;
}


.logo-text {
  /*width: 110px;*/
  background-image: url(../img/logo.png);
  -webkit-background-size: 137px 50px;
 background-size: 137px 50px;
    width: 180px;
}

.logo-text.inverse {
  background-image: url(../img/logo-text-inverse.png);
}

.logo-figure {
  width:45px;
  background-image: url(../img/logo1.png);
  background-position: 0 3px;
  -webkit-background-size: 42px 42px;
  background-size: 42px 42px;
}

.logo-figure.inverse {
  background-image: url(../img/logo-figure-inverse.png);
}
.mt10 {
  margin-top: 10px!important;
}

.pa15 {
  padding: 15px!important;
}
.pl5 {
  padding-left: 5px!important;
}


.input-group {
  width: 100%;
}

.has-icon {
  position: relative;
}

.has-icon>.form-control {
  padding-right: 34px;
}

.has-icon.pull-left>.form-control {
  padding-left: 34px;
  padding-right: 0;
}

.has-icon.pull-left>.form-control-icon {
  right: auto;
  left: 0;
}

.has-icon>.form-control-icon {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 34px;
  line-height: 33px;
  text-align: center;
  color: #777;
}


		

a {
  color: #446CB3;
  text-decoration: none;
}

a:active,a:focus,a:hover {
  color: #3d61a1;
  outline: 0;
  text-decoration: none;
}
.dropdown-menu {
  font-size: 13px;
  border-color: #cfd9db;
  padding: 5px 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

.dropdown-menu .dropdown-menu {
  position: static;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu>li {
  margin: 0;
  text-align: left;
}

.dropdown-menu>li>a {
  line-height: 20px;
  color: #5e5e5e;
  padding: 4px 15px!important;
}

.dropdown-menu>li>a:active,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
  outline: 0;
  background-color: #f8f8f8;
  color: #444;
}

.dropdown-menu>li>a>.icon {
  display: inline-block;
  min-width: 14px;
  text-align: center;
  margin-right: 6px;
}

.dropdown-menu>li.active>a,.dropdown-menu>li:active>a {
  background-color: #f8f8f8;
  color: #444;
}

.dropdown-menu>li.active>a:hover,.dropdown-menu>li:active>a:hover {
  background-color: #f8f8f8;
  color: #373737;
}

.dropdown-menu>.dropdown-header {
  padding: 6px 15px!important;
  font-size: 13px;
  font-weight: 600;
}

.dropdown-menu>.dropdown-content {
  padding: 4px 15px;
}

.dropdown-menu .divider {
  margin: 4px 0;
  background-color: #ecf0f1;
}

.dropdown-menu.dropdown-menu-alt {
  min-width: 220px;
  padding: 0;
}

.dropdown-menu.dropdown-menu-alt>li>a {
  padding: 8px 15px!important;
}

.dropdown-menu.dropdown-menu-alt>li+li {
  border-top: 1px solid #eff2f3;
}

.dropdown-menu.dropdown-menu-alt>li:last-child>a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown.custom>.dropdown-menu {
  border-color: #e0e7e8;
}

.dropdown.custom>.dropdown-menu>.dropdown-header {
  display: table;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6ebed;
  padding: 0 15px!important;
  height: 36px;
  line-height: 36px;
  color: #5e5e5e;
}

.dropdown.custom>.dropdown-menu>.dropdown-header>.title {
  display: table-cell;
  font-weight: 600;
}

.dropdown.custom>.dropdown-menu>.dropdown-header>.option {
  display: table-cell;
  font-weight: 400;
}

.dropdown.custom>.dropdown-menu .dropdown-body,.dropdown.custom>.dropdown-menu>.viewport {
  max-height: 220px;
  overflow: hidden!important;
}

.dropdown.custom>.dropdown-menu .dropdown-body {
  overflow-y: hidden!important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.dropdown.custom>.dropdown-menu .form-horizontal,.dropdown.custom>.dropdown-menu form {
  padding: 6px 15px;
  background-color: #fafafa;
  border-bottom: 1px solid #e6ebed;
}

.dropdown.mega>.dropdown-menu {
  width: auto!important;
  left: 0!important;
  right: 0!important;
}


.hasnotification {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-indent: -999999px;
  border-radius: 50%;
  background-color: #eee;
}


.badge-danger,.hasnotification-danger,.label-danger {
  background-color: #EF4836;
}



.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.text-accent {
  color: #446CB3!important;
}


.longshadow {
  text-shadow: #e2e2e2 1px 1px,#e2e2e2 2px 2px,#e2e2e2 3px 3px,#e3e3e3 4px 4px,#e5e5e5 5px 5px,#e7e7e7 6px 6px,#e8e8e8 7px 7px,#eaeaea 8px 8px,#ececec 9px 9px,#eee 10px 10px;
}

.dropcap {
  float: left;
  padding: 0 10px;
  font-size: 32px;
  margin-right: 10px;
  border-radius: 3px;
}

pre.prettyprint {
  padding: 2px;
}

ol.linenums {
  margin: 0;
}

.progress {
  display: block;
  margin-bottom: 15px;
  background-color: #e6ebed;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress.progress-sm {
  height: 15px;
}

.progress.progress-xs {
  height: 6px;
}

.modal-content {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.modal-header {
  border-bottom: 1px solid #cfd9db;
}

.modal-header+.modal-body {
  border-radius: 0;
}

.modal-body,.nav-tabs,.nav-tabs>li>a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modal-body {
  background-color: #f5f7f7;
}

.modal-footer {
  margin-top: 0;
  border-top: 1px solid #cfd9db;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animation {
  visibility: hidden;
}

.animation.delay {
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.animation.animating {
  visibility: visible;
  -webkit-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation.animated {
  visibility: visible;
}

.nav>li h1,.nav>li h2,.nav>li h3,.nav>li h4,.nav>li h5,.nav>li h6 {
  margin: 0;
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.nav>li>a:focus,.nav>li>a:hover {
  background-color: transparent;
  border-color: transparent;
}

.nav-pills>li>a {
  border-radius: 3px;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover {
  background-color: #446CB3;
}

.nav-pills>li>a:focus,.nav-pills>li>a:hover {
  background-color: #eee;
}

.nav-tabs {
  background-color: #dde4e6;
}

.nav-tabs>li>a {
  color: #aaa;
}

.nav-tabs>li.open>a,.nav-tabs>li>a:hover {
  color: #777;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
  border: 1px solid #cfd9db;
  border-bottom-color: transparent;
  color: #5e5e5e;
}

.tab-content.panel,.table-email>tbody>tr:first-child>td {
  border-top-width: 0;
}

.tab-content.panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tab-content.panel .tab-pane {
  padding: 15px;
}

.nav-tabs.nav-justified>li>a {
  margin-bottom: 0;
  border-bottom-color: #cfd9db;
  border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-justified>li.active>a,.nav-tabs.nav-justified>li.active>a:hover {
  border-bottom-color: transparent;
}

.nav-section>li {
  position: relative;
}

.nav-section>li>.section,.nav-section>li>a {
  position: relative;
  padding: 5px 10px;
  margin: 0;
  text-align: center;
}

.nav-section>li>.section:after,.nav-section>li>a:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigyMTUsIDIyNCwgMjI2KSIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q3ZTBlMiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2IoMjE1LCAyMjQsIDIyNikiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top,rgba(215,224,226,.2) 0,#d7e0e2 50%,rgba(215,224,226,.2) 100%);
  background-image: -o-linear-gradient(top,rgba(215,224,226,.2) 0,#d7e0e2 50%,rgba(215,224,226,.2) 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(215,224,226,.2)),color-stop(50%,#d7e0e2),to(rgba(215,224,226,.2)));
  background-image: linear-gradient(to bottom,rgba(215,224,226,.2) 0,#d7e0e2 50%,rgba(215,224,226,.2) 100%);
}

.nav-section>li:last-child>.section:after,.nav-section>li:last-child>a:after {
  background: 0 0;
  -webkit-filter: none;
  filter: none;
}


.container-fluid .page-header {
  width: auto;
  float: none;
}

.container-fluid .page-header.page-header-block {
  margin-top: 00px;
  margin-left: 00px;
  margin-right: 00px;
}

.page-header {
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid rgba(0,0,0,.06);
  overflow: visible;
}

.page-header .title {
  margin: 0;
  color: #5e5e5e;
  font-size: 18px;
  line-height: 34px;
}

.page-header .page-header-section+.page-header-section {
  margin-top: 10px;
}

.page-header .toolbar {
  text-align: left;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}

.page-header .toolbar .toolbar-label {
  display: block;
  text-align: left;
}

.page-header.page-header-block {
  padding: 14px 20px 16px;
  background-color: #fbfcfc;
}

.page-header.page-header-block .title {
  margin: 0;
}

.page-header.page-header-block>[class*=" col-"],.page-header.page-header-block>[class^=col-] {
  padding-left: 20px;
  padding-right: 20px;
}

.page-header .breadcrumb {
  padding-left: 0;
  padding-right: 0;
   margin-bottom: -23px;
}

@media (min-width:768px) {
  .page-header .page-header-section {
    display: table-cell;
    /*width: 1%;*/
    vertical-align: middle;
    margin-top: 0;
  }

  .page-header .toolbar {
    text-align: left;
    margin-bottom: 0;
  }

  .page-header .toolbar .toolbar-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
  }
}


.totop {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgba(68,108,179,.8);
  color: rgba(255,255,255,.8);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
  font-size: 16px;
}

.totop.pull-left {
  right: auto;
  left: 10px;
}

.totop:active,.totop:focus,.totop:hover {
  color: rgba(255,255,255,.9);
  background-color: rgba(68,108,179,.9);
  outline: 0;
}

.sidebar-open-ltr .totop,.sidebar-open-rtl .totop {
  opacity: 0;
}

.scrollbar {
  background-color: rgba(163,182,187,.9)!important;
  border: 0!important;
  border-radius: 0!important;
}

/*--------------------------------------menu----------------------------------------------------*/
@media (min-width:768px) {
  .jumbotron .h1,.jumbotron h1 {
    font-size: 34px;
  }
}

@media (min-width:992px) {
  .jumbotron .h1,.jumbotron h1 {
    font-size: 38px;
  }
}
.media-list .media {
  overflow: auto;
  position: relative;
  padding: 10px 15px;
}

.media-list-feed>.media:after,.media-list>.media:after {
  position: absolute;
  content: "";
}

.media-list .media .media-left {
  padding-right: 20px;
}

.media-list .media .media-right {
  padding-left: 20px;
}

.media-list>.media+.media {
  margin-top: 0;
}

.media-list>a.media {
  display: block;
}

.media-list>a.media:active {
  background-color: #eee;
}

.media-list>a.media:focus,.media-list>a.media:hover {
  background-color: rgba(238,238,238,.15);
  outline: 0;
}

.media-list>.media:after {
  bottom: 0;
  left: 75px;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #dde4e6;
}

.media-list>.media.no-border:after,.media-list>.media:last-child:after {
  border-bottom-width: 0;
}

.media-list>.media.border-dotted:after {
  border-bottom-style: dotted;
}

.media-list>.media>.media-body>.media-heading {
  display: block;
  font-weight: 600;
  margin-bottom: 0;
}

.media-list>.media>.media-body>.media-text {
  display: block;
  color: #444;
  margin: 0;
}

.media-list>.media>.media-body .media-meta {
  font-size: 11px;
  margin: 0;
}

.media-list>.media>.media-body p.media-meta,.media-list>.media>.media-body small.media-meta,.media-list>.media>.media-body span.media-meta {
  color: #777;
}

.media-list>.media>.media-body span.media-meta+span.media-meta {
  margin-left: 3px;
}

.media-list>.media.read>.media-body p.media-meta,.media-list>.media.read>.media-body small.media-meta,.media-list>.media.read>.media-body span.media-meta,.media-list>.media.read>.media-body>.media-heading,.media-list>.media.read>.media-body>.media-text {
  color: #aaa;
}

.media-list>.media .media-object {
  width: 40px;
  height: 40px;
  text-align: center;
}

.media-list>.media .media-object.pull-left {
  padding-right: 0;
  margin-right: 10px;
}

.media-list>.media .media-object.pull-right {
  padding-left: 0;
  margin-left: 10px;
}

.media-list>.media .media-object>img {
  max-width: 100%;
}

.media-list>.media .media-object[class*=" ico-"],.media-list>.media .media-object[class^=ico-] {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0 auto;
  line-height: 37px;
  text-align: center;
  background-color: #ecf0f1;
  color: #b1c2c6;
  border-radius: 50%;
}

.media-list-feed>.media {
  z-index: 1;
  overflow: visible;
}

.media-list-feed>.media+.media {
  margin-top: 10px;
}

.media-list-feed>.media:after {
  z-index: -1;
  bottom: -50%;
  top: -50%;
  left: 32px;
  right: auto;
  width: 1px;
  height: auto;
  border-bottom-width: 0;
  background-color: #dde4e6;
}

.media-list-feed>.media:first-child:after {
  top: 20%;
}

.media-list-feed>.media:last-child:after {
  background-color: transparent;
  bottom: 0;
}

.media-list-feed>.media>.media-body {
  display: table-cell;
}

.media-list-feed>.media>.media-body>.media-heading {
  margin-top: 7px;
  margin-bottom: 5px;
}

.media-list-feed>.media>.media-body>.media-text {
  margin-bottom: 5px;
}

.media-list-contact>a.media:active,.media-list-contact>a.media:focus,.media-list-contact>a.media:hover {
  background-color: transparent;
}

.media-list-contact>.media:after {
  left: 65px;
}

.sidebar .media-list-contact>.media:after {
  border-color: #252a30;
}

.sidebar .media-list-contact>.media>.media-body>.media-heading {
  color: #888;
}

.sidebar .media-list-contact>.media:active {
  background-color: #252a30;
}

.media-list-bubble .media-body:first-child {
  text-align: right;
}

.media-list-comment .media {
  padding: 0;
}

.media-list-comment .media .media,.media-list-comment .media .media+.media,.media-list-comment .media+.media {
  margin-top: 25px;
}

.mainmenu,.topmenu {
  margin: 0;
  padding: 0;
}

.mainmenu li,.topmenu li {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
}

.mainmenu li.submenu-header,.topmenu li.submenu-header {
  display: none;
}

.mainmenu li:after,.topmenu li:after {
  position: absolute;
  content: "";
  left: 55px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid #252a30;
}

.mainmenu li:last-child:after,.topmenu li:last-child:after {
  border: 0;
}

.mainmenu li.active,.topmenu li.active {
  background-color: #252a30;
}

.mainmenu li.active:after,.topmenu li.active:after {
  border-color: transparent;
}

.mainmenu li.active a,.topmenu li.active a {
  color: #fff;
}

.mainmenu li.active a>.figure>[class*=" ico-"],.mainmenu li.active a>.figure>[class^=ico-],.topmenu li.active a>.figure>[class*=" ico-"],.topmenu li.active a>.figure>[class^=ico-] {
  color: #446CB3;
}

.mainmenu li.active a>.figure>.hasnotification,.topmenu li.active a>.figure>.hasnotification {
  -webkit-box-shadow: 0 0 0 2px #252a30;
  box-shadow: 0 0 0 2px #252a30;
}

.mainmenu li.open a,.topmenu li.open a {
  color: #fff;
}

.mainmenu li.open a>.arrow:before,.topmenu li.open a>.arrow:before {
  content: "\f078";
}

.mainmenu li a,.topmenu li a {
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  outline: 0;
  padding: 6px 25px 6px 15px;
}

.mainmenu li a>.arrow,.mainmenu li a>.figure,.mainmenu li a>.number,.mainmenu li a>.text,.topmenu li a>.arrow,.topmenu li a>.figure,.topmenu li a>.number,.topmenu li a>.text {
  display: table-cell;
  table-layout: fixed;
  vertical-align: middle;
}

.mainmenu li a:hover,.topmenu li a:hover {
  color:#b791ff;
}
.mainmenu li a:hover,.topmenu li a:hover .figure i {
 -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
 
}

.mainmenu li a>.figure,.topmenu li a>.figure {
  width: 40px;
  padding-left: 10px;
  font-size: 14px;
 
}

.mainmenu li a>.figure>.hasnotification,.topmenu li a>.figure>.hasnotification {
  position: absolute;
  left: 20px;
  -webkit-box-shadow: 0 0 0 2px #21252a;
  box-shadow: 0 0 0 2px #21252a;
}

.mainmenu li a>.text,.topmenu li a>.text {
  width: 100%;
  line-height: 30px;
  font-weight: normal!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}

.mainmenu li a>.number,.topmenu li a>.number {
  width: 40px;
  font-weight: 400;
}

.mainmenu li a>.number>.badge,.mainmenu li a>.number>.label,.topmenu li a>.number>.badge,.topmenu li a>.number>.label {
  float: right;
  max-width: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainmenu li a>.arrow,.topmenu li a>.arrow {
  font-weight: 400;
  width: 20px;
  text-align: right;
}

.mainmenu li a>.arrow:before,.topmenu li a>.arrow:before {
  font-family: 'FontAwesome';
  content: "\f054";
  font-size: 10px;
}

.mainmenu li>.submenu,.topmenu li>.submenu {
  position: relative;
  overflow: hidden;
  background-color: #181b1f;
}

.mainmenu li>.submenu:after,.topmenu li>.submenu:after {
  position: absolute;
  content: "";
  left: 32px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #252a30;
}

.mainmenu li>.submenu li a,.topmenu li>.submenu li a {
  font-size: 13px;
  color: #647080;
  padding:2px 25px 0 55px;
}

.mainmenu li>.submenu li a>.figure,.topmenu li>.submenu li a>.figure {
  width: 22px;
  padding-left: 0;
}

.mainmenu li>.submenu li a>.figure>[class*=" ico-"],.mainmenu li>.submenu li a>.figure>[class^=ico-],.topmenu li>.submenu li a>.figure>[class*=" ico-"],.topmenu li>.submenu li a>.figure>[class^=ico-] {
  color: #647080;
}

.mainmenu li>.submenu .submenu li.active a,.mainmenu li>.submenu li a:hover,.mainmenu li>.submenu li a:hover>.figure>[class*=" ico-"],.mainmenu li>.submenu li a:hover>.figure>[class^=ico-],.mainmenu li>.submenu li.active a,.mainmenu li>.submenu li.active a>.figure>[class*=" ico-"],.mainmenu li>.submenu li.active a>.figure>[class^=ico-],.topmenu li>.submenu .submenu li.active a,.topmenu li>.submenu li a:hover,.topmenu li>.submenu li a:hover>.figure>[class*=" ico-"],.topmenu li>.submenu li a:hover>.figure>[class^=ico-],.topmenu li>.submenu li.active a,.topmenu li>.submenu li.active a>.figure>[class*=" ico-"],.topmenu li>.submenu li.active a>.figure>[class^=ico-] {
  color:#EA8625;

}

.mainmenu li>.submenu li a>.text,.topmenu li>.submenu li a>.text {
  font-weight: 400;
}

.mainmenu li>.submenu li a>.arrow:before,.topmenu li>.submenu li a>.arrow:before {
  content: "\f054";
}

.mainmenu li>.submenu .submenu li.open a>.arrow:before,.mainmenu li>.submenu li.open a>.arrow:before,.topmenu li>.submenu .submenu li.open a>.arrow:before,.topmenu li>.submenu li.open a>.arrow:before {
  content: "\f078";
}

.mainmenu li>.submenu li:after,.topmenu li>.submenu li:after {
  z-index: 1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #252a30;
  left: 28px;
  top: 13px;
  bottom: auto;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 2px #181b1f;
  box-shadow: 0 0 0 2px #181b1f;
}
/*
.pagination {
    border-radius: 4px;
    margin: 10px 0 10px 0;
    padding-left: 0;
    float: right;
}
*/

/*.pagination 
{
	border:1px solid #ddd;
	padding: 0 5px !important;
}

.pagination a{
	
	border-left:1px solid #ddd;
	padding: 10px;
	position:relative;
	float:left;
	
	}
.pagination p{
	float: left;
	margin-bottom: 0;
	padding-top: 0px;
	padding-right: 10px;
}

.pagination a.active
{
	background: #d68a0b;
	color:#fff;
}

.pagination a:hover{
	
	padding: 10px;
    background: #d68a0b;
	color:#fff;
}
*/

.mainmenu li>.submenu li.active,.topmenu li>.submenu li.active {
  background-color: transparent;
}

.mainmenu li>.submenu li.active:after,.topmenu li>.submenu li.active:after {
  background-color: #EA8224;
}

.mainmenu li>.submenu li.active a>.text,.topmenu li>.submenu li.active a>.text {
  font-weight: 600;
}

.mainmenu li>.submenu .submenu,.topmenu li>.submenu .submenu {
  overflow: hidden;
  padding-left: 10px;
}

.mainmenu li>.submenu .submenu li:after,.mainmenu li>.submenu .submenu:after,.topmenu li>.submenu .submenu li:after,.topmenu li>.submenu .submenu:after {
  display: none;
}

.mainmenu li>.submenu .submenu li.active a>.text,.topmenu li>.submenu .submenu li.active a>.text {
  font-weight: 700;
}

.mainmenu li>.submenu .submenu li a,.topmenu li>.submenu .submenu li a {
  color: #647080;
  padding-top: 0;
  padding-bottom: 0;
}

.mainmenu li>.submenu .submenu li a:hover,.topmenu li>.submenu .submenu li a:hover {
  color: #b7bec6;
}

.mainmenu li>.submenu .submenu li a>.text,.topmenu li>.submenu .submenu li a>.text {
  font-weight: 400;
}

.mainmenu li>.submenu .submenu li a>.arrow:before,.topmenu li>.submenu .submenu li a>.arrow:before {
  content: "\e64f";
}
@media (min-width:768px) {
  
  .screen-sm .mainmenu.mainmenu-responsive>li:before,.screen-sm .topmenu.topmenu-responsive>li:before,.sidebar-minimized .mainmenu.mainmenu-responsive>li:before,.sidebar-minimized .topmenu.topmenu-responsive>li:before {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    margin-top: -8px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #181b1f transparent transparent;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li.hover>.submenu,.screen-sm .topmenu.topmenu-responsive>li.hover>.submenu,.sidebar-minimized .mainmenu.mainmenu-responsive>li.hover>.submenu,.sidebar-minimized .topmenu.topmenu-responsive>li.hover>.submenu {
    display: block;
    visibility: visible;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li.hover:before,.screen-sm .topmenu.topmenu-responsive>li.hover:before,.sidebar-minimized .mainmenu.mainmenu-responsive>li.hover:before,.sidebar-minimized .topmenu.topmenu-responsive>li.hover:before {
    display: block;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li.active>a>.number .badge,.screen-sm .mainmenu.mainmenu-responsive>li.active>a>.number .label,.screen-sm .topmenu.topmenu-responsive>li.active>a>.number .badge,.screen-sm .topmenu.topmenu-responsive>li.active>a>.number .label,.sidebar-minimized .mainmenu.mainmenu-responsive>li.active>a>.number .badge,.sidebar-minimized .mainmenu.mainmenu-responsive>li.active>a>.number .label,.sidebar-minimized .topmenu.topmenu-responsive>li.active>a>.number .badge,.sidebar-minimized .topmenu.topmenu-responsive>li.active>a>.number .label {
    -webkit-box-shadow: 0 0 0 2px #252a30;
    box-shadow: 0 0 0 2px #252a30;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a,.screen-sm .topmenu.topmenu-responsive>li>a,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a,.sidebar-minimized .topmenu.topmenu-responsive>li>a {
    padding: 17.5px 15px;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a>.text,.screen-sm .topmenu.topmenu-responsive>li>a>.text,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.text,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.text {
    display: none;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a>.number,.screen-sm .topmenu.topmenu-responsive>li>a>.number,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.number,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.number {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    width: auto;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a>.number .badge,.screen-sm .mainmenu.mainmenu-responsive>li>a>.number .label,.screen-sm .topmenu.topmenu-responsive>li>a>.number .badge,.screen-sm .topmenu.topmenu-responsive>li>a>.number .label,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.number .badge,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.number .label,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.number .badge,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.number .label {
    -webkit-box-shadow: 0 0 0 2px #21252a;
    box-shadow: 0 0 0 2px #21252a;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a>.arrow,.screen-sm .topmenu.topmenu-responsive>li>a>.arrow,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.arrow,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.arrow {
    display: none;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>a>.figure,.screen-sm .topmenu.topmenu-responsive>li>a>.figure,.sidebar-minimized .mainmenu.mainmenu-responsive>li>a>.figure,.sidebar-minimized .topmenu.topmenu-responsive>li>a>.figure {
    display: block;
    width: auto;
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu,.screen-sm .topmenu.topmenu-responsive>li>.submenu,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu {
    background-color:#181b1f;
    display: none;
    position: absolute;
    left: 60px;
    top: 0;
    width: 200px;
    height: auto !important;
    padding-left: 0;
    margin: 5px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    z-index: 1030;
    scrollbar-face-color: #000000;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color:#7D7E94;
	scrollbar-3dlight-color: #7D7E94;
	scrollbar-darkshadow-color: #2D2C4D;
	scrollbar-track-color: #7D7E94;
	scrollbar-arrow-color: #C1C1D1;
	scrollbar-3dlight-color: #ddddd;
	overflow-x: hidden;

  }

 
  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu:before,.screen-sm .topmenu.topmenu-responsive>li>.submenu:before,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu:before,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181b1f;
    border-radius: inherit;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu:after,.screen-sm .topmenu.topmenu-responsive>li>.submenu:after,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu:after,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu:after {
    display: none;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu>li.submenu-header,.screen-sm .topmenu.topmenu-responsive>li>.submenu>li.submenu-header,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu>li.submenu-header,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu>li.submenu-header {
    display: block;
    font-size: 15px;
    color: #f0a801;
    font-weight: 600;
    padding: 10px 15px 5px;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu>li.submenu-header:after,.screen-sm .topmenu.topmenu-responsive>li>.submenu>li.submenu-header:after,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu>li.submenu-header:after,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu>li.submenu-header:after {
    display: none;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu>li:after,.screen-sm .topmenu.topmenu-responsive>li>.submenu>li:after,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu>li:after,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu>li:after {
    left: 15px;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu>li>a,.screen-sm .topmenu.topmenu-responsive>li>.submenu>li>a,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu>li>a,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu>li>a {
    padding-left: 35px;
    padding-right: 15px;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu>li:last-child,.screen-sm .topmenu.topmenu-responsive>li>.submenu>li:last-child,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu>li:last-child,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu>li:last-child {
    margin-bottom: 6px;
  }

  .screen-sm .mainmenu.mainmenu-responsive>li>.submenu .submenu,.screen-sm .topmenu.topmenu-responsive>li>.submenu .submenu,.sidebar-minimized .mainmenu.mainmenu-responsive>li>.submenu .submenu,.sidebar-minimized .topmenu.topmenu-responsive>li>.submenu .submenu {
    position: static;
    padding-left: 30px;
  }
}

.list-table > li:first-child {
    padding-left: 0;
}
.list-table > li {
    display: table-cell;
    padding: 0 5px;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
}
.pl5 {
  padding-left: 5px!important;
}

.pl0 {
  padding-left: 0!important;
}
.list-table {
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
.fsize16 {
  font-size: 16px!important;
}

@media (min-width:990px) and (max-width:1200px) {
	
	.btn-circle
	{
		font-size: 12px;
		padding: 15px 5px;
	}
	
	
}

@media (min-width:767px) and (max-width:990px) {
	
	.btn-circle
	{
		font-size:12px;
		margin-right: 8px;
		padding: 15px 5px;
	}
	
	.stepwizard
	{
		width:100%;
	}
}

@media (min-width:320px) and (max-width:767px) {
	.stepwizard-step {
    display: inline;
    position: relative;
    text-align: center;
    width: 100%;
}

.btn-circle
{
	width:100%;
	margin-bottom: 10px;
}

.stepwizard{
	width:100%;
	margin-right: 0;
}

.stepwizard-row::before
{
	background: none !important;
}
	
	}

